 *{
    font-family: 'Open sans', serif;
 }
 body{
     margin: 0;
  }

 .text-center{
    text-align: center;
 } 
 .navbar{
   background-image: url("../bild/transparent-navbar.png");
   overflow: hidden;
   padding: 20px;
   font-size: 20px;
   text-align: center;
   color: white;  
}
 .bg{
     font-family: 'Nanum Gothic', sans-serif;
     background-image: url("../bild/bg.jpg");
     background-position: center;
     background-size: cover;
     padding: 120px;
 }
 .feet{
    background-image: url("../bild/transparent-navbar.png");
    overflow: hidden;
 }
 .feeter{
    text-align: left;
 }
 .feeter li {
    display: inline-block; 
 }
 .feeter li a{
    color: white;
    text-decoration: none;
 }
 .projects{
   padding: 1em 20px 1em;
 }
 .dab{
    font-size: 40px;
 }