body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: 'Inconsolata', monospace;
}

h1 {
  position: relative;
  text-align: center;
  top: 100%;
  transform: translateY(-50%);
  font-size: calc(300%);
  white-space: nowrap;
  animation: textAnimate 4s linear infinite alternate;
  background: linear-gradient( 92deg, #95d7e3, #eb76ff );
  background: -webkit-linear-gradient( 92deg, #95d7e3, #eb76ff );
  background-size:600vw 600vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 40px 0;
  overflow: hidden;
  &::after {
    position: absolute;
    content: attr(data-text);
    left: 0;
    right: 0;
    background: none;
    box-shadow: 2px 4px 2px rgba(0,0,0,0.50);
    z-index: -1;
  }
}

.ok {
  text-align: center;
  color: azure;
  top: 8%;
  position: relative;
  font-size: 250%;
}

.doc {
  text-align: center;
  color: azure;
  position: relative;
  font-size: 140%;
  top: 6%;
}

.big {
  text-align: center;
  color: azure;
  position: relative;
  font-size: 100%;
  top: 6%;
}

.small {
  text-align: center;
  color: azure;
  position: relative;
  font-size: 70%;
  top: 6%;
}

.green {
  text-align: center;
  color: chartreuse;
  position: relative;
  font-size: 80%;
  top: 6%;
}

a:link {
  color: white; 
  background-color: transparent; 
  text-decoration: underline;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

@keyframes textAnimate {
  from {
    filter: hue-rotate(0deg);
    background-position-x: 0%;
    
  }
  to {
    filter: hue-rotate(360deg);
    background-position-x: 600vw;
    
  }
}
