/*
dab dab dab dab dab
*/

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: 'Inconsolata', monospace;
}

h1 {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: calc(2em + 5vw);
  white-space: nowrap;
  animation: textAnimate 5s linear infinite alternate;
  background: linear-gradient( 92deg, #95d7e3, #eb76ff );
  background: -webkit-linear-gradient( 92deg, #95d7e3, #eb76ff );
  background-size:600vw 600vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 40px 0;
  &::after {
    position: absolute;
    content: attr(data-text);
    left: 0;
    right: 0;
    background: none;
    box-shadow: 2px 4px 2px rgba(0,0,0,0.50);
    z-index: -1;
  }
}

.feet{
  background-image: url("img/lower.png");
  overflow: hidden;
  position:absolute; 
  bottom:0; 
  width:100%;
  height: 10%; 
}

.center {
  display: inline-block;
} 

#right {
  position: absolute;
  top: 0; bottom:0; left: 0; right: 10%;
  margin: auto;
}

#righter {
  position: absolute;
  top: 0; bottom:0; left: 0; right: 20%;
  margin: auto;
}

#left {
  position: absolute;
  top: 0; bottom:0; left: 10%; right: 0;
  margin: auto;
}

#lefter {
  position: absolute;
  top: 0; bottom:0; left: 20%; right: 0;
  margin: auto;
}

#middle {
  position: absolute;
  top: 0; bottom:0; left: 0; right: 0;
  margin: auto;
}


@keyframes textAnimate {
  from {
    filter: hue-rotate(0deg);
    background-position-x: 0%;
    
  }
  to {
    filter: hue-rotate(360deg);
    background-position-x: 600vw;
    
  }
}
