body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: 'Inconsolata', monospace;
}

h1 {
  position: relative;
  text-align: center;
  top: 35%;
  transform: translateY(-50%);
  font-size: calc(300%);
  white-space: nowrap;
  animation: textAnimate 4s linear infinite alternate;
  background: linear-gradient( 92deg, #95d7e3, #eb76ff );
  background: -webkit-linear-gradient( 92deg, #95d7e3, #eb76ff );
  background-size:600vw 600vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 40px 0;
  &::after {
    position: absolute;
    content: attr(data-text);
    left: 0;
    right: 0;
    background: none;
    box-shadow: 2px 4px 2px rgba(0,0,0,0.50);
    z-index: -1;
  }
}

.docu{
  color: azure;
  position: relative;
  text-align: start;
  font-size: 80%;
}

.ok {
  text-align: center;
  color: azure;
  top: 8%;
  position: relative;
  font-size: 250%;
}

.doc {
  text-align: center;
  color: azure;
  position: relative;
  font-size: 140%;
  top: 6%;
}

.big {
  text-align: center;
  color: azure;
  position: relative;
  font-size: 100%;
  top: 6%;
}

.small {
  text-align: center;
  color: azure;
  position: relative;
  font-size: 70%;
  top: 6%;
}

.green {
  text-align: center;
  color: chartreuse;
  position: relative;
  font-size: 80%;
  top: 6%;
}

a:link {
  color: bisque; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: bisque;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: bisque;
  background-color: transparent;
  text-decoration: underline;
}

.feet{
  background-image: url("img/lower.png");
  overflow: hidden;
  position:absolute; 
  bottom:0; 
  width:100%;
  height: 10%; 
}

.center {
  display: inline-block;
} 

#right {
  position: absolute;
  top: 0; bottom:0; left: 0; right: 30%;
  margin: auto;
}

#righter {
  position: absolute;
  top: 0; bottom:0; left: 0; right: 60%;
  margin: auto;
}

#left {
  position: absolute;
  top: 0; bottom:0; left: 30%; right: 0;
  margin: auto;
}

#lefter {
  position: absolute;
  top: 0; bottom:0; left: 60%; right: 0;
  margin: auto;
}

#middle {
  position: absolute;
  top: 0; bottom:0; left: 0; right: 0;
  margin: auto;
}
.noscroll {
  overflow: hidden;
}

@keyframes textAnimate {
  from {
    filter: hue-rotate(0deg);
    background-position-x: 0%;
    
  }
  to {
    filter: hue-rotate(360deg);
    background-position-x: 600vw;
    
  }
}
